/* Prevents text from moving on page when vertical scroll bar is shown / hidden depending on content */
html {
  overflow-y: scroll;
}

body {
  background: #dedede;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
